h1 {
  color: red;
  font-size: 2rem;
}

input {
  border: 2px solid green;
  border-radius: 0.25rem;
}

label {
  color: green;
}

input[type="submit"]:hover {
  background-color: lightgreen;
}

input[type="submit"] {
  background-color: green;
}

input[type="reset"] {
  background-color: #f0652f;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #eb7c50;
  border: 2px solid #f0652f;
}
